h1 {
  margin-top: 15vh;
  margin-bottom: 0px;
  text-underline-offset: 4px;
  font-size: 49px;
  line-height: 100%;
  letter-spacing: -1.96px;
  color: rgb(37, 55, 42);
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.packages {
  margin-top: 10px;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin-bottom: 0px;
  text-underline-offset: 4px;
  color: rgb(123, 126, 124);
  font-size: 14px;
  font-family: taviraj;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}
.input-field input {
  margin-left: 40px;
  padding: 15px 13px 37px 13px;
  border-radius: 16px;
  width: 45%;
  list-style: none;
  position: relative;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
  cursor: pointer;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 50vh;
  width: 40%;
  padding: 24px 24px 26px 11px;
  border: 1px solid rgb(196, 196, 196);
  color: rgb(196, 196, 196);
  font-family: taviraj;
}
.input-field input:hover {
  border: 1px solid slategray;
  overflow: hidden;
}
.login-button button {
  margin-left: 40px;
  font-size: 20px;
  border-radius: 34px;
  width: 40%;
  list-style: none;
  position: relative;
  padding-top: 20px;
  padding-bottom: 42px;
  margin-top: 10px;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 50vh;
  border: 1px solid gray;
  color: slategray;
  font-family: taviraj;
  background-color: white;
}
.login-button button:hover {
  background-color: lightskyblue;
}
.register-here {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: -18px;
  font-family: taviraj;
}
