.package-explore {
  margin-top: 10px;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin-bottom: 0px;
  text-underline-offset: 4px;
  color: rgb(123, 126, 124);
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.register-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.div1 input {
  height: 8vh;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: Taviraj;
}
.div2 input {
  height: 8vh;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: Taviraj;
}
.submit-button button {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 35px;
  width: 100%;
  color: slategray;
  font-weight: 600;
  font-size: 20px;
  margin-left: -17rem;
  padding: 22px 10px 22px 10px;
  font-family: taviraj;
}

.submit-button button:hover {
  background-color: lightskyblue;
}
.already-account {
  text-align: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 24rem;
  margin-top: 10px;
}
.div1 input:hover {
  border: 1px solid slategray;
  overflow: hidden;
}
.div2 input:hover {
  border: 1px solid slategray;
  overflow: hidden;
}
